<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.minieyes.practice.p03.dao.RealEstateDAO">
	
	<select
	id="selectRealEstate"
	resultType="com.minieyes.practice.p03.model.RealEstate"
	parameterType="int">
		SELECT
			`id`
			, `realtorId`
			, `address`
			, `area`
			, `type`
			, `price`
			, `rentPrice`
			, `createdAt`
			, `updatedAt`
		FROM
			`real_estate`
		WHERE
			`id` = #{id}	
	</select>
	
	<select
	id="selectRentPriceRealEstateList"
	resultType="com.minieyes.practice.p03.model.RealEstate"
	parameterType="int">
		SELECT
			`id`
			, `realtorId`
			, `address`
			, `area`
			, `type`
			, `price`
			, `rentPrice`
			, `createdAt`
			, `updatedAt`
		FROM
			`real_estate`
		WHERE
			`type` = '월세'
			AND
			<![CDATA[`rentPrice` < #{rentPrice}]]>	
	</select>
	
	<select
	id="selectAreaPriceRealEstateList"
	resultType="com.minieyes.practice.p03.model.RealEstate"
	parameterType="int">
		SELECT
			`id`
			, `realtorId`
			, `address`
			, `area`
			, `type`
			, `price`
			, `rentPrice`
			, `createdAt`
			, `updatedAt`
		FROM
			`real_estate`
		WHERE
			`type` = '매매'
			AND
			<![CDATA[(`price` < 130000 AND
		    `area` > 90 )]]>	
	</select>
	
	<insert
	id="insertRealEstate"
	parameterType="com.minieyes.practice.p03.model.RealEstate">
		INSERT INTO
			`real_estate`
			(`realtorId`
			,`address`
			,`area`
			,`type`
			,`price`)
		VALUE
			(#{realtorId}
			,#{address}
			,#{area}
			,#{type}
			,#{price})
	</insert>
	
	<insert
	id="insertRealEstateField"
	parameterType="map">
		INSERT INTO
			`real_estate`
			(`realtorId`
			,`address`
			,`area`
			,`type`
			,`price`
			,`rentPrice`)
		VALUE
			(#{realtorId}
			,#{address}
			,#{area}
			,#{type}
			,#{price}
			,#{rentPrice})
	</insert>
	
	<update
	id="updateRealEstate"
	parameterType="map">
		UPDATE
			`real_estate`
		SET
			`type` = #{newType}
			,`price` = #{newPrice}
		WHERE
			`id` = #{id}	
	</update>
	
	<delete
	id="deleteRealEstate"
	parameterType="int">
		DELETE FROM
			`real_estate`
		WHERE
			`id` = #{id}
	</delete>
	


</mapper>