<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.minieyes.practice.p02.dao.StoreDAO">

	<select id="selectStoreList" resultType="com.minieyes.practice.p02.model.Store">
		SELECT
			`id`
			, `name`
			, `phoneNumber`
			, `address`
			, `businessNumber`
			, `introduce`
			, `createdAt`
			, `updatedAt`
		FROM
			`store`
	</select>
	
	<select id="selectStoreReviewList"
	resultType="com.minieyes.practice.p05.model.Review"
	parameterType="int">
		SELECT
			Re.storeName
		    ,Re.userName
		    ,Re.point
		    ,Re.review
		    ,Re.menu
		    ,Re.createdAt
		FROM `store` AS St
		JOIN `review` AS Re
		ON St.name = Re.storeName
		WHERE St.id = #{id}	
	</select>


</mapper>
  