<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.minieyes.practice.p05.dao.WeatherDAO">

	<select id="selectWeatherHistory"
	resultType="com.minieyes.practice.p05.model.WeatherHistory">
		SELECT
			`id`
			, `date`
			, `weather`
			, `temperatures`
			, `precipitation`
			, `microDust`
			, `windSpeed`
			, `createdAt`
			, `updatedAt`
		FROM
			`weatherhistory`
	</select>
	
	<insert id="insertWeatherHistory"
	parameterType="com.minieyes.practice.p05.model.WeatherHistory">
		INSERT INTO
			`weatherhistory`
			(`date`
			, `weather`
			, `temperatures`
			, `precipitation`
			, `microDust`
			, `windSpeed`)
		VALUE
			(#{date}
			,#{weather}
			,#{temperatures}
			,#{precipitation}
			,#{microDust}
			,#{windSpeed})
	</insert>
</mapper>