#navArea {
	width : 250px;
	height : auto;
	background-color : #6495EC;
}

#logo {
	height: 100px;
}

#logoImg {
	width : 45px;
	height : 45px;
}

#logoText {
	font-size: 30px;
}

#infoArea {
	width : 1000px;
}

#addArea {
	width : 1000px;
	height : 500px;
}

#addForm {
	width : 800px;
}

footer {
}

#footerLogo {
	height : 65px;
}